<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thank you</title>
    <link rel="stylesheet" href="thank_you.css">
</head>
<body>

    <div class="main">
        
        <div class="content">
            <h1>Thank you <%= user %>! <br> <span>for your kindness.</span></h1>
        </div>
        <form action="/home" method="get">
            <button type="submit" class="btnn">Go to the home page</button>
        </form>
    </div>
                
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
